<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.strangers">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Strangers"
        android:name="android.support.multidex.MultiDexApplication">
        <activity android:name=".Admin_person2"></activity>
        <activity android:name=".Admin_Person" />
        <activity android:name=".Admin_detail2" />
        <activity android:name=".Admin_detail1" />
        <activity android:name=".Admin5" />
        <activity android:name=".Admin4" />
        <activity android:name=".Admin3" />
        <activity android:name=".Admin2" />
        <activity android:name=".Admin1" />
        <activity android:name=".Payment_2" />
        <activity android:name=".Reserve_detail1_3" />
        <activity android:name=".Reserve_detail1_2" />
        <activity android:name=".Reserve_detail1" />
        <activity android:name=".Detail_2" />
        <activity android:name=".Coupon" />
        <activity android:name=".Mileage" />
        <activity android:name=".Detail_1" />
        <activity android:name=".Payment_1" />
        <activity android:name=".Reserve_5" />
        <activity android:name=".Reserve_4" />
        <activity android:name=".Reserve_3" />
        <activity android:name=".Board_2" />
        <activity android:name=".Board_1" />
        <activity android:name=".Person_Info" />
        <activity android:name=".Reserve_2" />
        <activity android:name=".Reserve_1" />
        <activity android:name=".MainHomeActivity" />
        <activity android:name=".Sing_Up" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>